$root-main-color: #007aff;
.root-main {
  background: $root-main-color;

  .box {
    padding-top: 20%;
    height: 100vh;

    .loader-container {
      text-align: center;
      font-size: 60px;
      //svg {
      //  margin-top: 30vh;
      //  height: 100px;
      //}
      [class*="loader-"] {
        display: inline-block;
        width: 1em;
        height: 1em;
        color: inherit;
        vertical-align: middle;
        pointer-events: none;
      }

      .loader-05 {
        border: .2em solid transparent;
        border-top-color: #fff;
        border-radius: 50%;
        animation: 1s loader-05 linear infinite;
        position: relative;

        &:before {
          content: '';
          display: block;
          width: inherit;
          height: inherit;
          position: absolute;
          top: -.2em;
          left: -.2em;
          border: .2em solid #fff;
          border-radius: 50%;
          opacity: .4;
        }
      }

      @keyframes loader-05 {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
    }
  }
}
